@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lobster");

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ca2742;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
}

div .App {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

h1 {
  padding: 20px 340px;
  background: #2d3142;
  margin: 0 auto 15px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.liqueur {
  width: 100%;
  margin-bottom: 5px;
  border: #2d3142 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soft {
  width: 100%;
  margin-bottom: 5px;
  border: #2d3142 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional {
  width: 100%;
  margin-bottom: 5px;
  border: #2d3142 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 5px;
  box-sizing: border-box;
  color: aliceblue;
  padding: 20px;
  height: 80px;
  font-size: 12px;
  font-weight: bold;
  background: #2d3142;
  cursor: pointer;
}
button:hover {
  background: goldenrod;
  color: #2d3142;
}
.active {
  background: goldenrod;
  color: #2d3142;
}
.inactive {
  background: rgb(32, 144, 218);
  color: #2d3142;
}

.jumbotron h2 {
  font-family: "Lobster", cursive;
}

.cocktails {
  display: flex;
  flex-direction: row;
}
.card {
  padding: 2rem;
  min-width: 200px;
  background-color: rgb(255, 255, 255);
}
.cocktail-input {
  width: 350px !important;
}
.cocktail-post {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}
.log-field {
  text-align: right;
  float: right;
}

input[type="file"] {
  align-items: baseline;
  color: inherit;
  background-color: #679ab3 !important;
  text-align: start !important;
  border-radius: 5px;
  display: block;
}

.list {
  margin: 10rem auto !important;
}

.cocktails-all {
  min-width: 320px;
  min-height: 320px;
  display: block;
  background-color: rgb(228, 228, 227);
  box-shadow: 0px -2px 26px 0px #52524f;
}

.cocktails-all h4 {
  font-family: "Lobster", cursive;
  color: rgb(84, 138, 160) !important;
}

.card-body {
  color: black !important;
}

.messages-loop-appear {
  -webkit-animation: msgAni 1s infinite; /* Safari 4+ */
  -moz-animation: msgAni 1s infinite; /* Fx 5+ */
  -o-animation: msgAni 1s infinite; /* Opera 12+ */
  animation: msgAni 1s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 10;
  animation-direction: alternate; /* or: normal */
}

.messages-loop-appear.example-appear-active {
  -webkit-animation: msgAni 1s infinite; /* Safari 4+ */
  -moz-animation: msgAni 1s infinite; /* Fx 5+ */
  -o-animation: msgAni 1s infinite; /* Opera 12+ */
  animation: msgAni 1s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 10;
  animation-direction: alternate; /* or: normal */
}

.messages-loop-leave {
  -webkit-animation: msgAni 1s infinite; /* Safari 4+ */
  -moz-animation: msgAni 1s infinite; /* Fx 5+ */
  -o-animation: msgAni 1s infinite; /* Opera 12+ */
  animation: msgAni 1s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 10;
  animation-direction: alternate; /* or: normal */
}

.messages-loop-leave.example-leave-active {
  -webkit-animation: msgAni 1s infinite; /* Safari 4+ */
  -moz-animation: msgAni 1s infinite; /* Fx 5+ */
  -o-animation: msgAni 1s infinite; /* Opera 12+ */
  animation: msgAni 1s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 10;
  animation-direction: alternate; /* or: normal */
}

@keyframes msgAni {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-moz-keyframes msgAni {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes msgAni {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
