body{
  margin: 0;
  padding: 0;
}

div .container{
  margin: 0 auto;
}

div .liqueur {
  margin: 0 auto;
  width: 600px;
  height: 270px;
  border-bottom: black solid 3px;
}
div .soft {
  margin: 0 auto;
  width: 600px;
  height: 270px;
  border-bottom: black solid 3px;
}

div .additional{
  margin: 0 auto;
  width: 600px;
  height: 270px;
}

button {
  padding: 20px;
  margin: 5px;
}
